@font-face {
    font-family: 'Sonora';
    src: url('/Fonts/Sonorous-Rough.otf') format('opentype');
}

@font-face {
    font-family: 'Fox';
    src: url('/Fonts/FoxAndBower.otf') format('opentype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'Fox', sans-serif;
    background-image: linear-gradient(0deg, #fcfcfc, #efefef);
    min-height: 100vh;
}

header {
    /* This Element*/
    width: 100%;
    top: 0;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
    position: sticky;
    background-color: white;
    z-index: 10;
}

main {
    background-color: white;
    margin: 10vw;
    line-height: 2;
    text-align: center;
    padding: 4rem;
    padding-block: 2rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

h1 {
    padding-block-start: 1rem;
    font-size: 5vw;
    user-select: none;
}

h2 {
    padding-block-start: 1rem;
    font-size: 2vw;
    user-select: none;
}
h3 {
    padding-block: 1rem;
    font-size: 1.5vw;
    line-height: 1.5;
}

ul {
    text-align: start;
}

p {
    max-width: 75ch;
    text-align: center;
}

footer {
    height: 8vh;
    font-size: .75em;
    padding: 1vh;
    flex-direction: column;
    text-align: center;
    justify-items: center;
    align-items: center;
}

img:hover {
    scale: 1.02;
}

.footer {
    font-size: 8px;
    margin-top: 1vh;
}

.sub {
    font-size: 1vw;
    font-weight: 1000;
    color: rgb(137, 76, 165);
    letter-spacing: 1px;
    opacity: .6;
    margin-top: -1rem;
    font-family: 'Sonora', sans-serif;
}

.itemlist {
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
}

.worklist {
    font-size: 1vw
}

.💪 {  /* Flex */
    display: flex;
}

.🧭 { /* Navigation */
    display: grid;
    grid-template: 10vh /  repeat(3, 1fr) ;
    width: inherit;
    justify-items: center;
    align-items: center;
    
}

.📍 {  /* Navigation Elements */
    /* Text */
    color: #000;
    text-decoration: none;
}

.📍:hover {
    color: #444;
}

.🔎{  /* Search Bar */
    justify-content: space-evenly;
    width: 60%;
}
